<h2>Goodbye World</h2>

<%= link_to "Hello World", "/say/hello", target: "_blank" %><br>

<%= link_to "Visit Hello World", say_hello_path %>

<p><code>say_hello_path</code> : this is linked to say hello path</p>
